html{
    height: 100%;
}

body{
    height: 100%;
}

.container {
    gap: 3px;

    display: flex;
    flex-direction: column;
}

.hero-name{
    height: 300px;
    width: auto;
}

img{
    height: 300px;
    width: auto;
}

ul{
    list-style-type: none;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 0;

    text-align: center;
    font-size: large;
}

ul li{
    margin: 10px;
    background-color: wheat;
    border: 3px solid black;
}

li a{
    text-decoration: none;
    color: black;
    display: block;
}

li a:hover{
    background-color: lightyellow;
}

.small_box1{
    border: 3px solid black;
    background-color: white;
    height: 30px;
    width: 170px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;

    text-align: center;
    font-size: medium;
}

.small_box2{
    border: 3px solid black;
    background-color: white;
    height: 30px;
    width: 200px;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 5px;

    text-align: left;
    font-size: medium;
}

.top_text{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;

    margin: auto;

    color: white;
    background-color: red;
}

.bottom_text{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;

    margin: auto;

    color: white;
    background-color: red;
}

.box1{
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: dimgray;
}

.box2{
    padding-left: 20px;
    padding-right: 20px;

    background-color: lightgray;
    font-size: large;
    text-align: justify;
}

.box3{
    width: 100%;

    text-align: center;

    background-color: lightgray;
}

.box5{
    background-color: lightgray;
}

.box7{
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: dimgray;
}

.box4{
    background-color: gray;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.box6{
    height: 70px;
    background-color: wheat;
    border: 3px solid black;

    text-align: center;
    padding-bottom: 25px;

    font-size: large;
}